:root {
  --primary-color: rgb(255 253 244);
  --secondary-color: #dfbd43;
  --secondary-color-hover: #af9431;
  --tertiary-color: #444;
  --color-border: #d6d6d6;
  --font-family-main: 'Rubik', sans-serif;
  --font-size-sm: 11px;
  --font-size-md: 14px;
  --font-size-lg: 20px;
}
