.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: to-rem(12px) to-rem(14px);

  list-style: none;

  border: 2px solid var(--color-border);
  border-radius: 20px;
}

.text {
  color: var(--tertiary-color);

  &_lineThrough {
    text-decoration: line-through;
  }
}
