.FilterPanel {
  display: flex;
  flex-wrap: wrap;
  gap: to-rem(20px);
  justify-content: center;

  padding: to-rem(10px) 0;
}

.button {
  flex-grow: 1;

  &_active {
    background: var(--secondary-color-hover);
  }
}
